.stack-work/
*~
dist*
.direnv/
.envrc
temporary.cfg
states/
*.vscode
result/
out.*
# Ignore the local cabal.project because it contains the path to tasty-json in the local nix store
cabal.project.local